/Jsf01/nbproject/private/
/Jsf01/dist/
/Jsf01/build/
/jsf02/nbproject/private/
/jsf02/build/
/jsf02/dist/
/jsf03/nbproject/private/
/jsf03/dist/
/jsf03/build/
/jsf04/nbproject/private/
/jsf04/dist/
/jsf04/build/
/jsf-05/nbproject/private/
/jsf-05/build/
/jsf-05/dist/
/jsf05/build/
/jsf05/nbproject/private/
/jsf05/dist/
/jsf06/nbproject/private/
/jsf06/dist/
/jsf06/build/
/chapter7/nbproject/private/
/chapter7/build/
/chapter7/dist/
/chapter7a/nbproject/private/
/chapter7a/build/
/chapter7a/dist/
/chapter7b/nbproject/private/
/chapter7b/build/
/chapter7b/dist/
/chapter7c/nbproject/private/
/chapter7c/build/
/chapter7c/dist/
/chapter7d/nbproject/private/
/chapter7d/build/
/chapter7d/dist/
/chapter7e/nbproject/private/
/chapter7e/dist/
/chapter7e/build/
/chapter7f/nbproject/private/
/chapter7f/build/
/chapter7f/dist/
/chapter7g/nbproject/private/
/chapter7g/build/
/chapter7g/dist/
/chapter9/hiberbasic/build/
/chapter9/hiberbasic/dist/
/chapter9/crudHibernateEx/nbproject/private/
/chapter9/crudHibernateEx/dist/
/chapter9/crudHibernateEx/build/
/chapter9/CrudHiberPrime/nbproject/private/
/chapter9/CrudHiberPrime/build/
/chapter9/CrudHiberPrime/dist/
/chapter9/ch10Filter/nbproject/private/
/chapter9/ch10Filter/build/
/chapter9/ch10Filter/dist/
/primefaces/ch01/nbproject/private/
/primefaces/ch01/build/
/primefaces/ch01/dist/
/primefaces/ch02/nbproject/private/
/primefaces/ch02/build/
/primefaces/ch02/dist/
/primefaces/ch01localization/nbproject/private/
/primefaces/ch01localization/build/
/primefaces/ch01localization/dist/
/primefaces/ch02ThemeInstall/nbproject/private/
/primefaces/ch02ThemeInstall/build/
/primefaces/ch02RemoveThemeCss/nbproject/private/
/primefaces/ch02RemoveThemeCss/build/
/primefaces/ch02Template/nbproject/private/
/primefaces/ch02Template/build/
/primefaces/ch02Template/dist/
/primefaces/preiumThemeInstall/nbproject/private/
/primefaces/preiumThemeInstall/build/
/primefaces/SampleCRUDApp/nbproject/private/
/primefaces/SampleCRUDApp/CustomerDBAccess/nbproject/private/
/primefaces/SampleCRUDApp/build/
/primefaces/SampleCRUDApp/CustomerDBAccessLibrary/build/
/primefaces/SampleCRUDApp/derbyclient-library/build/
/primefaces/SampleCRUDApp/CustomerDBAccess/build/
/primefaces/SampleCRUDApp/CustomerViewer/build/
/primefaces/SampleCRUDApp/CustomerDBAccess/dist/
/primefaces/SampleCRUDApp/CustomerEditor/build/
/primefaces/SampleCRUDApp/CustomerDBAccessLibrary/nbproject/private/
/primefaces/SampleCRUDApp/CustomerEditor/nbproject/private/
/primefaces/SampleCRUDApp/CustomerViewer/nbproject/private/
/primefaces/SampleCRUDApp/derbyclient-library/nbproject/private/
/primefaces/JHPcrud/nbproject/private/
/primefaces/JHPcrud/build/
/primefaces/WebApplication1/nbproject/private/
/primefaces/WebApplication1/build/
/primefaces/JHPCrudApp/nbproject/private/
/primefaces/JHPCrudApp/build/
/primefaces/CrudJHP/nbproject/private/
/primefaces/CrudJHP/build/
/primefaces/crudJHP/nbproject/private/
/primefaces/crudJHP/build/
/primefaces/crudJHP/dist/
/primefaces/evidence-final/jsf_hibernate_crud/dist/
/primefaces/jsfCrudAtCoderBD/nbproject/private/
/primefaces/jsfCrudAtCoderBD/build/
/primefaces/jsfCrudAtCoderBD/dist/
/primefaces/cookbook/nbproject/private/
/primefaces/testfinal/nbproject/private/
/primefaces/testfinal/build/
/primefaces/SchoolResultSystem/nbproject/private/
/primefaces/SchoolResultSystem/build/
/round37jsf/round37jsf/target/
/jsfEvi/nbproject/private/
/jsfEvi/build/
/jsfEvi/dist/
/round-39/jsfhiberprime39/nbproject/private/
/round-39/jsfhiberprime39/build/
/round-39/jsfxmlbase/nbproject/private/
/round-39/jsfxmlbase/build/
/smsjsf/nbproject/private/
/smsjsf/build/
/smsjsf/dist/
/primetemplate/nbproject/private/
/primetemplate/build/
/round-39/jsfhiberprime39/dist/
/round-39/jsfthemeinstall/nbproject/private/
/round-39/jsfthemeinstall/build/
/round-39/jsfhiberate/nbproject/private/
/round-39/ch03/nbproject/private/
/round-39/ch03/build/
/round-39/primecookbook/nbproject/private/
/round-39/primecookbook/build/
/round-39/WebApplication1/nbproject/private/
/round-39/WebApplication1/build/