/Jsf01/nbproject/private/
/Jsf01/dist/
/Jsf01/build/
/jsf02/nbproject/private/
/jsf02/build/
/jsf02/dist/
/jsf03/nbproject/private/
/jsf03/dist/
/jsf03/build/
/jsf04/nbproject/private/
/jsf04/dist/
/jsf04/build/
/jsf-05/nbproject/private/
/jsf-05/build/
/jsf-05/dist/
/jsf05/build/
/jsf05/nbproject/private/
/jsf05/dist/
/jsf06/nbproject/private/
/jsf06/dist/
/jsf06/build/
/chapter7/nbproject/private/
/chapter7/build/
/chapter7/dist/
/chapter7a/nbproject/private/
/chapter7a/build/
/chapter7a/dist/
/chapter7b/nbproject/private/
/chapter7b/build/
/chapter7b/dist/
/chapter7c/nbproject/private/
/chapter7c/build/
/chapter7c/dist/
/chapter7d/nbproject/private/
/chapter7d/build/
/chapter7d/dist/
/chapter7e/nbproject/private/
/chapter7e/dist/
/chapter7e/build/
/chapter7f/nbproject/private/
/chapter7f/build/
/chapter7f/dist/
/chapter7g/nbproject/private/
/chapter7g/build/
/chapter7g/dist/