/Jsf01/nbproject/private/
/Jsf01/dist/
/Jsf01/build/
/jsf02/nbproject/private/
/jsf02/build/
/jsf02/dist/
/jsf03/nbproject/private/
/jsf03/dist/
/jsf03/build/
/jsf04/nbproject/private/
/jsf04/dist/
/jsf04/build/
/jsf-05/nbproject/private/
/jsf-05/build/
/jsf-05/dist/
/jsf05/build/
/jsf05/nbproject/private/
/jsf05/dist/
/jsf06/nbproject/private/
/jsf06/dist/
/jsf06/build/
/chapter7/nbproject/private/
/chapter7/build/
/chapter7/dist/